name: Push to Release

on:
  push:
    branches:
      - main

jobs:
  push_to_release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Run hello.py
      run: |
        python hello.py

    - name: Run push-to-release.ps1
      run: |
        pwsh -File push-to-release.ps1
    
      env:
        PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

